nav {
    background: rgba(0,0,0,0.3);
    width: max-content;
    display: block;
    padding: 0.8rem 1.7rem;
    border-radius: 2rem;
    display: flex;
    gap: 1rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    backdrop-filter: blur(15px);
    bottom: 2rem; 
}

nav a {
    color: var(--color-light);
    background: transparent;
    padding: 0.45rem;
    font-size: 1.1rem;
    display: flex;
    border-radius: 50%;
}

nav a:hover {
    background: var(--color-light);
    color: var(--color-white);
}

nav a.active{ 
    background: var(--color-bg);
    color: var(--color-white);
}